doctype html
head
  title UFarm - Reports
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet' href='reports.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a.navbar-brand(href='../ufDash') Dashboard
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='orders') Orders
      li.nav-item
        a.nav-link(href='inventory') Inventory
      li.nav-item.active
        a.nav-link(href='reports.html') Reports
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text' placeholder='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
.container-fluid
  .row
    // Sidebar
    .col-md-3.bg-light.sidebar
      .list-group
        a.list-group-item.list-group-item-action.active(href='#')
          i.fas.fa-chart-bar.mr-2
          |  Sales Reports
        a.list-group-item.list-group-item-action(href='#')
          i.fas.fa-boxes.mr-2
          |  Inventory Reports
        a.list-group-item.list-group-item-action(href='#')
          i.fas.fa-users.mr-2
          |  Customer Reports
        a.list-group-item.list-group-item-action(href='#')
          i.fas.fa-credit-card.mr-2
          |  Payment Reports
        a.list-group-item.list-group-item-action(href='#')
          i.fas.fa-file-alt.mr-2
          |  Custom Reports
    .col-md-9
      .report-section
        //- h2.report-section-header
        //-   i.report-icon.fas.fa-chart-bar
        //-   | Sales Report
        //- .report-section-body
        //-   table.report-table
        //-     thead
        //-       tr
        //-         th Date
        //-         th Product Name
        //-         th Quantity Sold
        //-         th Total Sales
        //-     tbody
        //-       tr
        //-         td 2022-03-01
        //-         td Tomatoes
        //-         td 50
        //-         td $500
        //-       tr
        //-         td 2022-03-02
        //-         td Cucumbers
        //-         td 30
        //-         td $300
        //-       tr
        //-         td 2022-03-03
        //-         td Carrots
        //-         td 20
        //-         td $200
      .card.mb-3
        .card-header
          h5.card-title.mb-0 Inventory Reports
        .card-body
          .row
            .col-md-4
              .card
                .card-body
                  h6.card-title Product Types Report
                  p.card-text View the inventory by product types.
                  a.btn.btn-primary(href='inventory') View Report
            .col-md-4
              .card
                .card-body
                  h6.card-title Low Stock Report
                  p.card-text View products with low stock levels.
                  a.btn.btn-primary(href='few') View Report
            .col-md-4
              .card
                .card-body
                  h6.card-title Out of Stock Report
                  p.card-text View products that are currently out of stock.
                  a.btn.btn-primary(href='outOfStock') View Report
      // end of column
