doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Contact Us
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='css/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='css/nice-select.css' type='text/css')
  link(rel='stylesheet' href='css/jquery-ui.min.css' type='text/css')
  link(rel='stylesheet' href='css/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='css/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='css/style.css' type='text/css')
// Humberger Begin
.humberger__menu__overlay
.humberger__menu__wrapper
  .humberger__menu__logo
    h1 UFarm
  .humberger__menu__widget
    .header__top__right__auth
      a(href='/login')
        i.fa.fa-user
        |  Login
  nav.humberger__menu__nav.mobile-menu
    ul
      li.active
        a(href='/index') Ufarm 
      li
        a(href='/user/productsGrid') Shop
      li
        a(href='#') Pages
        ul.header__menu__dropdown
          li
            a(href='/user/productDetails') Shop Details
          li
            a(href='/user/cart') Shoping Cart
          li
            a(href='/user/checkout') Check Out
      li
        a(href='/contact') Contact
  #mobile-menu-wrap
// Humberger End
// Header Section Begin
header.header
  .header__top
    .container
      .row
        .col-lg-6
        .col-lg-6
          .header__top__right
            .header__top__right__auth
              a(href='/login')
                i.fa.fa-user
                |  Login
  .container
    .row
      .col-lg-3
        .header__logo
          //- h1 UFarm
      .col-lg-6
        nav.header__menu
          ul
            li
              a(href='/index') Ufarm
            li
              a(href='/user/productsGrid') Shop
            li
              a(href='#') Pages
              ul.header__menu__dropdown
                li
                  a(href='/user/productDetails') Shop Details
                li
                  a(href='/user/cart') Shoping Cart
                li
                  a(href='/user/checkout') Check Out
            li.active
              a(href='/contact') Contact
    .humberger__open
      i.fa.fa-bars
// Header Section End
// Hero Section Begin
section.hero.hero-normal
  .container
    .row
      .col-lg-3
        .hero__categories
          .hero__categories__all
            i.fa.fa-bars
            span Categories 
          ul
            li
              a(href='/user/horticulture') Fresh Horticulture produce
            li
              a(href='/user/poultry') Poultry Produce
            li
              a(href='/user/dairy') Dairy produce
      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              .hero__search__categories
                | All Categories
                span.arrow_carrot-down
              input(type='text' placeholder='Search product')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +256 708153467
              span support 24/7 time
// Hero Section End
// Breadcrumb Section Begin
section.breadcrumb-section.set-bg(data-setbg='img/breadcrumb.jpg')
  .container
    .row
      .col-lg-12.text-center
        .breadcrumb__text
          h2 Contact Us
          .breadcrumb__option
            a(href='./index.html') Home
            span Contact Us
// Breadcrumb Section End
// Contact Section Begin
section.contact.spad
  .container
    .row
      .col-lg-3.col-md-3.col-sm-6.text-center
        .contact__widget
          span.icon_phone
          h4 Phone
          p +256 708153467
      .col-lg-3.col-md-3.col-sm-6.text-center
        .contact__widget
          span.icon_pin_alt
          h4 Address
          p Masajja Division
      .col-lg-3.col-md-3.col-sm-6.text-center
        .contact__widget
          span.icon_mail_alt
          h4 Email
          p ufarm@gmail.com
// Contact Section End
// Contact Form Begin
.contact-form.spad
  .container
    .row
      .col-lg-12
        .contact__form__title
          h2 Leave Message
    form(action='#')
      .row
        .col-lg-6.col-md-6
          input(type='text' placeholder='Your name')
        .col-lg-6.col-md-6
          input(type='text' placeholder='Your Email')
        .col-lg-12.text-center
          textarea(placeholder='Your message')
          button.site-btn(type='submit') SEND MESSAGE
// Contact Form End
// Footer Section Begin
footer.footer.spad
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6
        .footer__about
          .footer__about__logo
            | UFarm
          ul
            li Address: Masajja Division, kampala Uganda
            li Phone: +256708153467
            li Email: ufarm@hotmail.com
    .row
      .col-lg-12
        .footer__copyright
          .footer__copyright__text
            p
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |                 All rights reserved | UFarm
          .footer__copyright__payment
            img(src='img/payment-item.png' alt='')
// Footer Section End
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/mixitup.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
