doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Ufarm')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Ufarm
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='./landing/css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/nice-select.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/jquery-ui.min.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='./landing/css/style.css' type='text/css')
// Humberger Begin
.humberger__menu__overlay
.humberger__menu__wrapper

  .humberger__menu__widget
    .header__top__right__auth
      a(href='login')
        i.fa.fa-user
        |  Login Here
  nav.humberger__menu__nav.mobile-menu
    ul
      li.active
        a(href='/') Ufarm 
      li
        a(href='/user/productsGrid') Shop
      //- li
      //-   a(href='#') Pages
      //-   ul.header__menu__dropdown
      //-     li
      //-       a(href='./shop-details.html') Shop Details
      //-     li
      //-       a(href='./shoping-cart.html') Shoping Cart
      //-     li
      //-       a(href='./checkout.html') Check Out
      li
        a(href='/contact') Contact
  #mobile-menu-wrap
  .header__top__right__social
    a(href='#')
      i.fa.fa-facebook
    a(href='#')
      i.fa.fa-twitter
    a(href='#')
      i.fa.fa-linkedin
    a(href='#')
      i.fa.fa-pinterest-p
// Humberger End
// Header Section Begin
header.header
  .header__top
    .container
      .row
        .col-lg-6.col-md-6
        .col-lg-6.col-md-6
          .header__top__right
            .header__top__right__auth
              a(href='login')
                i.fa.fa-user
                |  Login Here 
  .container
    .row
      .col-lg-3
      .col-lg-6
        nav.header__menu
          ul
            li.active
              a(href='/') Ufarm 
            li
              a(href='/user/productsGrid') Shop
            li
              a(href='/contact') Contact
      .col-lg-3
    .humberger__open
      i.fa.fa-bars
// Header Section End
//- h1 Welcome to UFarm
// Hero Section Begin
section.hero
  .container
    .row
      .col-lg-3
        .hero__categories
          .hero__categories__all
            i.fa.fa-bars
            span Categories 
          ul
            li
              a(href='/user/horticulture') Fresh Horticulture produce
            li
              a(href='/user/poultry') Poultry Produce
            li
              a(href='/user/dairy') Dairy produce


      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              .hero__search__categories
                | All Categories
                span.arrow_carrot-down
              input(type='text' placeholder='Search product')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +256 708153467
              span support 24/7 time
        .hero__item.set-bg(data-setbg='./landing/img/hero/banner.jpg')
          .hero__text
            span FRUIT FRESH
            h2
              | Vegetable 
              br
              | 100% Organic
            p Free Pickup and Delivery Available
            a.primary-btn(href='#') SHOP NOW
// Hero Section End
// Categories Section Begin
section.categories
  .container
    .row
      .categories__slider.owl-carousel
        .col-lg-3
          .categories__item.set-bg(data-setbg='./landing/img/categories/cat-1.jpg')
            h5
              a(href='#') Fresh Fruit
        .col-lg-3
          .categories__item.set-bg(data-setbg='./landing/img/categories/cat-2.jpg')
            h5
              a(href='#') Dried Fruit
        .col-lg-3
          .categories__item.set-bg(data-setbg='./landing/img/categories/cat-3.jpg')
            h5
              a(href='#') Vegetables
        .col-lg-3
          .categories__item.set-bg(data-setbg='./landing/img/categories/cat-4.jpg')
            h5
              a(href='#') drink fruits
        .col-lg-3
          .categories__item.set-bg(data-setbg='./landing/img/categories/cat-5.jpg')
            h5
              a(href='#') drink fruits
// Categories Section End
// Featured Section Begin
section.featured.spad
  .container
    .row
      .col-lg-12
        .section-title
          h2 Featured Product
        .featured__controls
          ul
            li.active(data-filter='*') All
            li(data-filter='.oranges') Oranges
            li(data-filter='.fresh-meat') Fresh Meat
            li(data-filter='.vegetables') Vegetables
            li(data-filter='.fastfood') Fastfood
    .row.featured__filter
      .col-lg-3.col-md-4.col-sm-6.mix.oranges.fresh-meat
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-1.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.20000
      .col-lg-3.col-md-4.col-sm-6.mix.vegetables.fastfood
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-2.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.vegetables.fresh-meat
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-3.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.fastfood.oranges
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-4.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.fresh-meat.vegetables
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-5.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.oranges.fastfood
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-6.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.fresh-meat.vegetables
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-7.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
      .col-lg-3.col-md-4.col-sm-6.mix.fastfood.vegetables
        .featured__item
          .featured__item__pic.set-bg(data-setbg='./landing/img/featured/feature-8.jpg')
            ul.featured__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .featured__item__text
            h6
              a(href='#') Product Name
            h5 Ugx.15000
// Featured Section End
// Banner Begin
.banner
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        .banner__pic
          img(src='./landing/img/banner/banner-1.jpg' alt='')
      .col-lg-6.col-md-6.col-sm-6
        .banner__pic
          img(src='./landing/img/banner/banner-2.jpg' alt='')
// Banner End
// Footer Section Begin
footer.footer.spad
  .container
    .row
    center
      .row
        .col-lg-12
          .footer__copyright
            .footer__copyright__text
              p
                | Copyright &copy;
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | Ufarm
// Footer Section End
// Js Plugins
script(src='./landing/js/jquery-3.3.1.min.js')
script(src='./landing/js/bootstrap.min.js')
script(src='./landing/js/jquery.nice-select.min.js')
script(src='./landing/js/jquery-ui.min.js')
script(src='./landing/js/jquery.slicknav.js')
script(src='./landing/js/mixitup.min.js')
script(src='./landing/js/owl.carousel.min.js')
script(src='./landing/js/main.js')
