doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title CheckOut | Ufarm
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='css/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='css/nice-select.css' type='text/css')
  link(rel='stylesheet' href='css/jquery-ui.min.css' type='text/css')
  link(rel='stylesheet' href='css/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='css/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='css/style.css' type='text/css')
// Humberger Begin
.humberger__menu__overlay
.humberger__menu__wrapper
  .humberger__menu__logo
    h1 UFarm
  .humberger__menu__cart
  .humberger__menu__widget
    .header__top__right__auth
      a(href='/login')
        i.fa.fa-user
        |  Login
  nav.humberger__menu__nav.mobile-menu
    ul
      li.active
        a(href='../') Home
      li
        a(href='/user/productGrid') Shop
      li
        a(href='#') Pages
        ul.header__menu__dropdown
          li
            a(href='/user/productDetails') Shop Details
          li
            a(href='/user/cart') Shoping Cart
          li
            a(href='/user/checkout') Check Out
      li
        a(href='./contact.html') Contact
  #mobile-menu-wrap

// Humberger End
// Header Section Begin
header.header
  .header__top
    .container
      .row
        .col-lg-6
        .col-lg-6
          .header__top__right
            .header__top__right__auth
              a(href='/login')
                i.fa.fa-user
                |  Login
  .container
    .row
      .col-lg-3
        .header__logo
          h1 UFarm
      .col-lg-6
        nav.header__menu
          ul
            li
              a(href='../') Ufarm
            li.active
              a(href='/user/productsGrid') Shop
            li
              a(href='#') Pages
              ul.header__menu__dropdown
                li
                  a(href='/user/productDetails') Shop Details
                li
                  a(href='/user/cart') Shoping Cart
                li
                  a(href='/user/checkout') Check Out
            li
              a(href='/contact') Contact
      .col-lg-3
    .humberger__open
      i.fa.fa-bars
// Header Section End
// Hero Section Begin
section.hero.hero-normal
  .container
    .row
      .col-lg-3
        .hero__categories
          .hero__categories__all
            i.fa.fa-bars
            span Categories 
          ul
            li
              a(href='/user/horticulture') Fresh Horticulture produce
            li
              a(href='/user/poultry') Poultry Produce
            li
              a(href='/user/dairy') Dairy produce
      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              .hero__search__categories
                | All Categories
                span.arrow_carrot-down
              input(type='text' placeholder='What do yo u need?')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +256 708153467
              span support 24/7 time
// Hero Section End
// Breadcrumb Section Begin
section.breadcrumb-section.set-bg(data-setbg='img/breadcrumb.jpg')
  .container
    .row
      .col-lg-12.text-center
        .breadcrumb__text
          h2 Checkout
          .breadcrumb__option
            a(href='./index.html') Ufarm
            span Checkout
// Breadcrumb Section End
// Checkout Section Begin
section.checkout.spad
  .container
    .row
      .col-lg-12
        h6
          span.icon_tag_alt
          |  Have a coupon? 
          a(href='#') Click here
          |  to enter your code
    .checkout__form
      h4 Billing Details
      form(action='#')
        .row
          .col-lg-8.col-md-6
            .row
              .col-lg-6
                .checkout__input
                  p
                    | Fist Name
                    span *
                  input(type='text')
              .col-lg-6
                .checkout__input
                  p
                    | Last Name
                    span *
                  input(type='text')
            .checkout__input
              p
                | Country
                span *
              input(type='text')
            .checkout__input
              p
                | Address
                span *
              input.checkout__input__add(type='text' placeholder='Street Address')
              input(type='text' placeholder='Apartment, suite, unite ect (optinal)')
            .checkout__input
              p
                | Town/City
                span *
              input(type='text')
            .checkout__input
              p
                | Country/State
                span *
              input(type='text')
            .checkout__input
              p
                | Postcode / ZIP
                span *
              input(type='text')
            .row
              .col-lg-6
                .checkout__input
                  p
                    | Phone
                    span *
                  input(type='text')
              .col-lg-6
                .checkout__input
                  p
                    | Email
                    span *
                  input(type='text')
            .checkout__input__checkbox
              label(for='acc')
                | Create an account?
                input#acc(type='checkbox')
                span.checkmark
            p
              | Create an account by entering the information below. If you are a returning customer
              | please login at the top of the page
            .checkout__input
              p
                | Account Password
                span *
              input(type='text')
            .checkout__input__checkbox
              label(for='diff-acc')
                | Ship to a different address?
                input#diff-acc(type='checkbox')
                span.checkmark
            .checkout__input
              p
                | Order notes
                span *
              input(type='text' placeholder='Notes about your order, e.g. special notes for delivery.')
          .col-lg-4.col-md-6
            .checkout__order
              h4 Your Order
              .checkout__order__products
                | Products 
                span Total
              ul
                li
                  | Vegetable&rsquo;s Package 
                  span $75.99
                li
                  | Fresh Vegetable 
                  span $151.99
                li
                  | Organic Bananas 
                  span $53.99
              .checkout__order__subtotal
                | Subtotal 
                span $750.99
              .checkout__order__total
                | Total 
                span $750.99
              .checkout__input__checkbox
                label(for='acc-or')
                  | Create an account?
                  input#acc-or(type='checkbox')
                  span.checkmark
              p
                | Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                | ut labore et dolore magna aliqua.
              .checkout__input__checkbox
                label(for='payment')
                  | Check Payment
                  input#payment(type='checkbox')
                  span.checkmark
              .checkout__input__checkbox
                label(for='paypal')
                  | Paypal
                  input#paypal(type='checkbox')
                  span.checkmark
              button.site-btn(type='submit') PLACE ORDER
// Checkout Section End
// Footer Section Begin
footer.footer.spad
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6
      .col-lg-4.col-md-6.col-sm-6.offset-lg-1
    .row
      .col-lg-12
        .footer__copyright
          .footer__copyright__text
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | UFarm
          .footer__copyright__payment
            img(src='img/payment-item.png' alt='')
// Footer Section End
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/mixitup.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
