doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Product details
  // Google Font
  link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='css/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='css/nice-select.css' type='text/css')
  link(rel='stylesheet' href='css/jquery-ui.min.css' type='text/css')
  link(rel='stylesheet' href='css/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='css/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='css/style.css' type='text/css')
// Humberger Begin
.humberger__menu__overlay
.humberger__menu__wrapper
  .humberger__menu__widget
    .header__top__right__auth
      a(href='./login')
        i.fa.fa-user
        |  Login
  nav.humberger__menu__nav.mobile-menu
    ul
      li.active
        a(href='./') Ufarm
      li
        a(href='/productsGrid') Shop
      li
        a(href='#') Pages
        ul.header__menu__dropdown
          li
            a(href='/productDetails') Shop Details
          li
            a(href='/cart') Shoping Cart
          li
            a(href='/checkout') Check Out
      li
        a(href='./contact.html') Contact
  #mobile-menu-wrap
  .humberger__menu__contact
    ul
      li
        i.fa.fa-envelope
        |  Mail Us @ufarm
      li Dear beloved visitor, please login to complete you purchase
// Humberger End
// Header Section Begin
header.header
  .header__top
    .container
      .row
        .col-lg-6
          .header__top__left
            ul
              ul
                li
                  i.fa.fa-envelope
                  |  Mail Us @ufarm
                li
                  | Dear beloved visitor, please login to complete you
                  | purchase
        .col-lg-6
          .header__top__right__auth
            a(href='login')
              i.fa.fa-user
              |  Login
  .container
    .row
      .col-lg-3
        .header__logo
          | Ufarm
      .col-lg-6
        nav.header__menu
          ul
            li
              a(href='./') Ufarm
            li.active
              a(href='/productsGrid') Shop
            li
              a(href='#') Pages
              ul.header__menu__dropdown
                li
                  a(href='/productsDetails') Shop Details
                li
                  a(href='/cart') Shoping Cart
                li
                  a(href='/checkout') Check Out
            li
              a(href='./contact.html') Contact
      .col-lg-3
    .humberger__open
      i.fa.fa-bars
// Header Section End
// Hero Section Begin
section.hero.hero-normal
  .container
    .row
      .col-lg-3
        .hero__categories
          .hero__categories__all
            i.fa.fa-bars
            span Categories 
          ul
            li
              a(href='/user/horticulture') Fresh Horticulture produce
            li
              a(href='/user/poultry') Poultry Produce
            li
              a(href='/user/dairy') Dairy produce
      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              .hero__search__categories
                | All Categories
                span.arrow_carrot-down
              input(type='text' placeholder='Search product')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +256 708153467
              span support 24/7 time
// Hero Section End
// Breadcrumb Section Begin
section.breadcrumb-section.set-bg(data-setbg='img/breadcrumb.jpg')
  .container
    .row
      .col-lg-12.text-center
        .breadcrumb__text
          h2 Vegetable&rsquo;s Package
          .breadcrumb__option
            a(href='./index.html') Home
            a(href='./index.html') Vegetables
            span Vegetable&rsquo;s Package
// Breadcrumb Section End
// Product Details Section Begin
section.product-details.spad
  .container
    .row
      .col-lg-6.col-md-6
        .product__details__pic
          .product__details__pic__item
            img.product__details__pic__item--large(src='img/product/details/product-details-1.jpg' alt='')
          .product__details__pic__slider.owl-carousel
            img(data-imgbigurl='img/product/details/product-details-2.jpg' src='img/product/details/thumb-1.jpg' alt='')
            img(data-imgbigurl='img/product/details/product-details-3.jpg' src='img/product/details/thumb-2.jpg' alt='')
            img(data-imgbigurl='img/product/details/product-details-5.jpg' src='img/product/details/thumb-3.jpg' alt='')
            img(data-imgbigurl='img/product/details/product-details-4.jpg' src='img/product/details/thumb-4.jpg' alt='')
      .col-lg-6.col-md-6
        .product__details__text
          h3 Vegetable&rsquo;s Package
          .product__details__rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star-half-o
            span (18 reviews)
          .product__details__price Ugx.8000
          p
            | Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            | Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
            | dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam
            | vehicula elementum sed sit amet dui. Proin eget tortor risus.
          .product__details__quantity
            .quantity
              .pro-qty
                input(type='text' value='1')
          a.primary-btn(href='#') ADD TO CARD
          a.heart-icon(href='#')
            span.icon_heart_alt
          ul
            li
              b Availability
              span In Stock
            li
              b Delivery
              span
                | 01 day Delivery. 
                samp Free pickup today
            li
              b Weight
              span 0.5 kg
            li
              b Share on
              .share
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-instagram
                a(href='#')
                  i.fa.fa-pinterest
      .col-lg-12
        .product__details__tab
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#tabs-1' role='tab' aria-selected='true') Description
            li.nav-item
              a.nav-link(data-toggle='tab' href='#tabs-2' role='tab' aria-selected='false') Information
            li.nav-item
              a.nav-link(data-toggle='tab' href='#tabs-3' role='tab' aria-selected='false')
                | Reviews 
                span (1)
          .tab-content
            #tabs-1.tab-pane.active(role='tabpanel')
              .product__details__tab__desc
                h6 Products Infomation
                p
                  | Vestibulum ac diam sit amet quam vehicula elementum sed
                  | sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                  | Proin eget tortor risus. Vivamus suscipit tortor eget
                  | felis porttitor volutpat. Vestibulum ac diam sit amet quam
                  | vehicula elementum sed sit amet dui. Donec rutrum congue
                  | leo eget malesuada. Vivamus suscipit tortor eget felis
                  | porttitor volutpat. Curabitur arcu erat, accumsan id
                  | imperdiet et, porttitor at sem. Praesent sapien massa,
                  | convallis a pellentesque nec, egestas non nisi. Vestibulum
                  | ac diam sit amet quam vehicula elementum sed sit amet dui.
                  | Vestibulum ante ipsum primis in faucibus orci luctus et
                  | ultrices posuere cubilia Curae; Donec velit neque, auctor
                  | sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                  | eget tortor risus.
                p
                  | Praesent sapien massa, convallis a pellentesque nec,
                  | egestas non nisi. Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Mauris blandit aliquet elit, eget
                  | tincidunt nibh pulvinar a. Cras ultricies ligula sed magna
                  | dictum porta. Cras ultricies ligula sed magna dictum
                  | porta. Sed porttitor lectus nibh. Mauris blandit aliquet
                  | elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam
                  | sit amet quam vehicula elementum sed sit amet dui. Sed
                  | porttitor lectus nibh. Vestibulum ac diam sit amet quam
                  | vehicula elementum sed sit amet dui. Proin eget tortor
                  | risus.
            #tabs-2.tab-pane(role='tabpanel')
              .product__details__tab__desc
                h6 Products Infomation
                p
                  | Vestibulum ac diam sit amet quam vehicula elementum sed
                  | sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                  | Proin eget tortor risus. Vivamus suscipit tortor eget
                  | felis porttitor volutpat. Vestibulum ac diam sit amet quam
                  | vehicula elementum sed sit amet dui. Donec rutrum congue
                  | leo eget malesuada. Vivamus suscipit tortor eget felis
                  | porttitor volutpat. Curabitur arcu erat, accumsan id
                  | imperdiet et, porttitor at sem. Praesent sapien massa,
                  | convallis a pellentesque nec, egestas non nisi. Vestibulum
                  | ac diam sit amet quam vehicula elementum sed sit amet dui.
                  | Vestibulum ante ipsum primis in faucibus orci luctus et
                  | ultrices posuere cubilia Curae; Donec velit neque, auctor
                  | sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                  | eget tortor risus.
                p
                  | Praesent sapien massa, convallis a pellentesque nec,
                  | egestas non nisi. Lorem ipsum dolor sit amet, consectetur
                  | adipiscing elit. Mauris blandit aliquet elit, eget
                  | tincidunt nibh pulvinar a. Cras ultricies ligula sed magna
                  | dictum porta. Cras ultricies ligula sed magna dictum
                  | porta. Sed porttitor lectus nibh. Mauris blandit aliquet
                  | elit, eget tincidunt nibh pulvinar a.
            #tabs-3.tab-pane(role='tabpanel')
              .product__details__tab__desc
                h6 Products Infomation
                p
                  | Vestibulum ac diam sit amet quam vehicula elementum sed
                  | sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                  | Proin eget tortor risus. Vivamus suscipit tortor eget
                  | felis porttitor volutpat. Vestibulum ac diam sit amet quam
                  | vehicula elementum sed sit amet dui. Donec rutrum congue
                  | leo eget malesuada. Vivamus suscipit tortor eget felis
                  | porttitor volutpat. Curabitur arcu erat, accumsan id
                  | imperdiet et, porttitor at sem. Praesent sapien massa,
                  | convallis a pellentesque nec, egestas non nisi. Vestibulum
                  | ac diam sit amet quam vehicula elementum sed sit amet dui.
                  | Vestibulum ante ipsum primis in faucibus orci luctus et
                  | ultrices posuere cubilia Curae; Donec velit neque, auctor
                  | sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                  | eget tortor risus.
// Product Details Section End
// Related Product Section Begin
section.related-product
  .container
    .row
      .col-lg-12
        .section-title.related__product__title
          h2 Related Product
    .row
      .col-lg-3.col-md-4.col-sm-6
        .product__item
          .product__item__pic.set-bg(data-setbg='img/product/product-1.jpg')
            ul.product__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .product__item__text
            h6
              a(href='#') Product
            h5 Ugx.8000
      .col-lg-3.col-md-4.col-sm-6
        .product__item
          .product__item__pic.set-bg(data-setbg='img/product/product-2.jpg')
            ul.product__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .product__item__text
            h6
              a(href='#') Product
            h5 Ugx.8000
      .col-lg-3.col-md-4.col-sm-6
        .product__item
          .product__item__pic.set-bg(data-setbg='img/product/product-3.jpg')
            ul.product__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .product__item__text
            h6
              a(href='#') Product
            h5 Ugx.8000
      .col-lg-3.col-md-4.col-sm-6
        .product__item
          .product__item__pic.set-bg(data-setbg='img/product/product-7.jpg')
            ul.product__item__pic__hover
              li
                a(href='#')
                  i.fa.fa-heart
              li
                a(href='#')
                  i.fa.fa-retweet
              li
                a(href='#')
                  i.fa.fa-shopping-cart
          .product__item__text
            h6
              a(href='#') Product
            h5 Ugx.8000
// Related Product Section End
// Footer Section Begin
footer.footer.spad
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6
        .footer__about
          .footer__about__logo
            | UFarm
          ul
            li Address: Masajja Division, kampala Uganda
            li Phone: +256708153467
            li Email: ufarm@hotmail.com
    .row
      .col-lg-12
        .footer__copyright
          .footer__copyright__text
            p
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |                   All rights reserved | UFarm
          .footer__copyright__payment
            img(src='img/payment-item.png' alt='')
// Footer Section End
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/mixitup.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
