doctype html
head
  title Urban Farmer
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-blue-grey.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  style.
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
    font-family: "Open Sans", sans-serif;
    }
// Navbar
.w3-top
  .w3-bar.w3-theme-d2.w3-left-align.w3-large
    a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-theme-d2(href='javascript:void(0);' onclick='openNav()')
      i.fa.fa-bars
    a.w3-bar-item.w3-button.w3-padding-large.w3-theme-d4(href='#')
      i.fa.fa-home.w3-margin-right
      | Dashboard
    a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href='/urbanFarmer/logout') Logout 
    .w3-bar.w3-black
      a.w3-bar-item.w3-button.w3-hide-small(href='../')
        i.fa.fa-home
        |  Home
      a.w3-bar-item.w3-button.w3-hide-small(href='Profile')
        i.fa.fa-info-circle
        |  Profile 
      a.w3-bar-item.w3-button.w3-hide-small(href='#')
        i.fa.fa-envelope
        |  Contact
      .w3-dropdown-hover.w3-hide-small
        button.w3-button
          i.fa.fa-product-hunt
          |  Products 
          i.fa.fa-caret-down
        .w3-dropdown-content.w3-bar-block.w3-card-4
          a.w3-bar-item.w3-button(href='addProduct')
            i.fa.fa-upload
            |  Upload Product
          a.w3-bar-item.w3-button(href='products')
            i.fa.fa-list-alt
            |  Product List
      .w3-dropdown-hover.w3-hide-small
        button.w3-button
          i.fa.fa-shopping-cart
          |  Orders 
          i.fa.fa-caret-down
        .w3-dropdown-content.w3-bar-block.w3-card-4
          a.w3-bar-item.w3-button(href='./reports/orders.html')
            i.fa.fa-check
            |  Check Orders
      .w3-dropdown-hover.w3-hide-small
        button.w3-button
          i.fa.fa-users
          |  Customers 
          i.fa.fa-caret-down
        .w3-dropdown-content.w3-bar-block.w3-card-4
          a.w3-bar-item.w3-button(href='feedback')
            i.fa.fa-comments
            |  Interact with Customers
      .w3-dropdown-hover.w3-hide-small
        button.w3-button(href='/urbanFarmer/reports/reports')
          i.fa.fa-file-text
          |  Reports 
          i.fa.fa-caret-down
        .w3-dropdown-content.w3-bar-block.w3-card-4
          a.w3-bar-item.w3-button(href='/urbanFarmer/reports/reports')
            i.fa.fa-line-chart
            |  Generate Reports
// Navbar on small screens
#navDemo.w3-bar-block.w3-theme-d2.w3-hide.w3-hide-large.w3-hide-medium.w3-large
  a.w3-bar-block.w3-theme-d2.w3-hide.w3-hide-large.w3-hide-medium.w3-large(href='#')
    i.fa.fa-bars
  a.w3-bar-item.w3-button.w3-padding-large(href='#')
    i.fa.fa-home
    |  Home
  a.w3-bar-item.w3-button.w3-padding-large(href='#')
    i.fa.fa-info-circle
    |  About
  a.w3-bar-item.w3-button.w3-padding-large(href='#')
    i.fa.fa-envelope
    |  Contact
  .w3-dropdown-hover.w3-padding-large
    button.w3-button
      i.fa.fa-product-hunt
      |  Products 
      i.fa.fa-caret-down
    .w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href='products')
        i.fa.fa-upload
        |  Upload Product
      a.w3-bar-item.w3-button(href='addProduct')
        i.fa.fa-list-alt
        |  Product List

  .w3-dropdown-hover.w3-padding-large
    button.w3-button
      i.fa.fa-shopping-cart
      |  Orders 
      i.fa.fa-caret-down
    .w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href='#')
        i.fa.fa-check
        |  Check Orders
  .w3-dropdown-hover.w3-padding-large
    button.w3-button
      i.fa.fa-users
      |  Customers 
      i.fa.fa-caret-down
    .w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href='#')
        i.fa.fa-comments
        |  Interact with Customers
  .w3-dropdown-hover.w3-padding-large
    button.w3-button
      i.fa.fa-file-text
      |  Reports 
      i.fa.fa-caret-down
    .w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href='#')
        i.fa.fa-line-chart
        |  Generate Reports
// Page Container
.w3-container.w3-content(style='max-width: 1400px; margin-top: 80px')
  // The Grid
  .w3-row
    // Left Column
    .w3-col.m3
      // Profile
      .w3-card.w3-round.w3-white
        .w3-container
          h4.w3-center Farmer&apos;s Profile
          p.w3-center
            //- img.w3-circle(src='../assets/farmer.png' style='height: 106px; width: 106px' alt='Avatar')
          hr
          p
            i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
            |                 Name
          p
            i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
            |                 Home Address
          p
            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
            |                 Date of Birth
          p
            i.fa.fa-map-marker.fa-fw.w3-margin-right.w3-text-theme
            |                 Ward
          p
            i.fa.fa-id-card.fa-fw.w3-margin-right.w3-text-theme
            |                 NIN
          p
            i.fa.fa-calendar-plus-o.fa-fw.w3-margin-right.w3-text-theme
            |                 Date of Joining
          p
            i.fa.fa-envelope.fa-fw.w3-margin-right.w3-text-theme
            |                 Email
          p
            i.fa.fa-phone.fa-fw.w3-margin-right.w3-text-theme
            |                 Contact
      br
  
        
// Footer
footer.w3-container.w3-theme-d3.w3-padding-16
  h5
    p Powered By Ufarm, 2023
footer.w3-container.w3-theme-d5
script.
  // Accordion
  function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
  x.className += " w3-show";
  x.previousElementSibling.className += " w3-theme-d1";
  } else {
  x.className = x.className.replace("w3-show", "");
  x.previousElementSibling.className =
  x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
  }
  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
  x.className += " w3-show";
  } else {
  x.className = x.className.replace(" w3-show", "");
  }
  }
